pipeline {
    agent any

    environment {
        DOCKER_IMAGE = "MASKING"
        SERVER_IP = "MASKING"
        APP_DIR = "MASKING"
    }

    stages {

        stage('Checkout') {
            steps {
                checkout scm
            }
        }

        stage('Build with Gradle') {
            steps {
                sh 'chmod +x ./gradlew'
                sh './gradlew clean build -x test'
            }
        }
/*
		stage('SonarQube Analysis') {
		    steps {
		        withSonarQubeEnv('sonarqube') {
		            sh './gradlew sonar -Dsonar.host.url=MASKING'
		        }
		    }
		}
*/

        stage('Docker Build & Push') {
            steps {
                withCredentials([usernamePassword(
                    credentialsId: 'dockerhub_info',
                    usernameVariable: 'DOCKER_USER',
                    passwordVariable: 'DOCKER_PASS'
                )]) {
                    sh '''
                        echo $DOCKER_PASS | docker login -u $DOCKER_USER --password-stdin
                        docker build -t $DOCKER_IMAGE:latest .
                        docker push $DOCKER_IMAGE:latest
                    '''
                }
            }
        }

        stage('Deploy Main Service') {
            steps {
                sshagent(['server_ssh_key']) {
                    sh """
                        ssh -o StrictHostKeyChecking=no ubuntu@$SERVER_IP '
                            cd $APP_DIR
                            docker compose pull main-service
                            docker compose up -d --no-deps main-service
                        '
                    """
                }
            }
        }
    }

    post {
        success {
            echo "Main service deployment completed successfully."
        }
        failure {
            echo "Main service deployment failed."
        }
    }
}